@font-face {
		font-family: "tondo";
		src: url("./assets/tondo.otf");
}

body {

    font-family: tondo, sans-serif;

}

.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
    display: block;
    width: 1218px;
    height: 517.65px;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
}